<div class="modal-header">
    <h3 class="modal-title">Machine configuration</h3>
</div>

<div class="modal-body col-12">
    <div class="nav-tabs-custom col-xs-12" ng-init="activeTab='general'">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="home" aria-selected="true">Machine Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="groups-tab" data-toggle="tab" href="#groups" role="tab" aria-controls="profile" aria-selected="false">Group Settings</a>
            </li>
        </ul>
        <div class="tab-content col-12">
            <div ng-class="activeTab=='general' ? 'active tab-pane' : 'tab-pane'" id="general" style="padding: 20px">
                <form id="machineConfigurationForm">
                    <div class="form-group row">
                        <label for="machineName" class="col-3 col-form-label">Machine name</label>
                        <div class="col-8">
                            <input type="text" class="form-control" id="machineName" aria-describedby="nameHelp" placeholder="Enter machine name" ng-model="machine.name">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="hostname" class="col-3 col-form-label">Hostname/IP</label>
                        <div class="col-8">
                            <input type="text" class="form-control" id="hostname" aria-describedby="hostnameHelp" placeholder="Enter hostname or IP" required ng-model="machine.hostname">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="username" class="col-3 col-form-label">Username</label>
                        <div class="col-8">
                            <input type="text" class="form-control" id="username" aria-describedby="hostnameHelp" placeholder="Enter username" ng-model="machine.username">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-3 col-form-label">Password</label>
                        <div class="col-8">
                            <input type="password" class="form-control" id="password" aria-describedby="hostnameHelp" placeholder="Enter password" ng-model="machine.password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="os" class="col-3 col-form-label">OS</label>
                        <div class="col-8">
                            <select class="form-control" id="os" aria-describedby="osHelp" placeholder="Choose operation system" ng-model="machine.os">
                                <option ng-repeat="os in OSs">{{os}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="os" class="col-3 col-form-label">Description</label>
                        <div class="col-8">
                            <textarea class="form-control" id="description" aria-describedby="descriptionHelp" placeholder="Enter description" rows="3" ng-model="machine.description"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div ng-class="activeTab=='groups' ? 'active tab-pane' : 'tab-pane'" id="groups" style="padding: 20px">
                <div class="col-10">
                    <div class="col-10" ng-repeat="group in groups">
                        <input type="checkbox" ng-click="toggleGroup(group)" ng-checked="machine.groups.indexOf(group) > -1"/>
                        <span type="text" ng-bind="group" style="padding-left: 10px; padding-bottom: 5px"></span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-click="save()">Save</button>
    <button type="button" class="btn btn-secondary" ng-click="cancel()" data-dismiss="modal">Close</button>

</div>