<div class="modal-header">
    <h3 class="modal-title">Scheduler for <span style="text-decoration: underline;">{{machine.name}}</span></h3>
</div>

<div class="modal-body col-12">
    <div class="col-sm-10" style="margin-bottom: 10px">
        <span><b>Choose the date: </b></span>
        <input data-provide="datepicker">
        <i class="fa fa-calendar" aria-hidden="true"></i>
    </div>

    <form id="schedulerForm">
        <table class="table table-bordered table-striped">

            <thead class="head">
                <tr>
                    <th style="width: 20%">
                        <span>Time</span>
                    </th>
                    <th>
                        <span>User</span>
                    </th>
                    <th style="width: 13%">

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width: 25%">
                        <span>0:00 am - 2:30 am</span>
                    </td>
                    <td>
                        <span>Kirill Kostin</span>
                    </td>
                    <td style="width: 13%">
                        <button type="button" class="btn btn-primary btn-xs"
                                ng-click="">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-xs"
                                ng-click="">
                            <i class="fa fa-close" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td style="width: 20%">
                        <span>1:00 pm - 2:00 pm</span>
                    </td>
                    <td>
                        <span>Administrator</span>
                    </td>
                    <td style="width: 13%">
                        <button type="button" class="btn btn-primary btn-xs"
                                ng-click="">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-xs"
                                ng-click="">
                            <i class="fa fa-close" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>

                <tr>
                    <td style="width: 20%">
                        <span>3:30 pm - 4:30 pm</span>
                    </td>
                    <td>
                        <span>Aigul Zhulmuhametova</span>
                    </td>
                    <td style="width: 13%">
                        <button type="button" class="btn btn-primary btn-xs"
                                ng-click="">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-xs"
                                ng-click="">
                            <i class="fa fa-close" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>

                <tr>
                    <td style="width: 20%">
                        <span>4:30 pm - 5:00 pm</span>
                    </td>
                    <td>
                        <span>Tatyana Antropova</span>
                    </td>
                    <td style="width: 13%">
                        <button type="button" class="btn btn-primary btn-xs"
                                ng-click="">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-xs"
                                ng-click="">
                            <i class="fa fa-close" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>

                <tr>
                    <td style="width: 20%">
                        <span>5:00 pm - 7:30 pm</span>
                    </td>
                    <td>
                        <span>Anastasia Nesterenko</span>
                    </td>
                    <td style="width: 13%">
                        <button type="button" class="btn btn-primary btn-xs"
                                ng-click="">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-xs"
                                ng-click="">
                            <i class="fa fa-close" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </tbody>

        </table>
        <div class="pull-right">
            <button type="button" class="btn btn-success btn-sm"
                    ng-click="">
                <span>Make a reservation</span>
            </button>
        </div>
    </form>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" ng-click="cancel()" data-dismiss="modal">Close</button>
</div>