  <!doctype html>
  <html ng-app="terminal">
    <head>
      <link rel="stylesheet" href="../lib/xterm/xterm.css" />
      <script src="../lib/xterm/xterm.js"></script>
      <script src="../lib/xterm/addons/fit/fit.js"></script>
      <script src="../lib/socket.io-client/socket.io.js"></script>

      <script src="../lib/jquery-3.3.1.js"></script>
      <script src="../lib/tether.min.js"></script>

      <script src="../lib/angular-1.6.9/angular.js"></script>
      <script src="../lib/angular-1.6.9/angular-route.js"></script>
      <script src="../js/terminal.js"></script>
      <script src="../js/controllers/terminalController.js"></script>

      <style type="text/css">
        html, body {
          height: 100%;
          margin: 0;
        }
        .wrapper {
          min-height: 100%;
        }
      </style>
    </head>
    <body ng-controller="terminalController" th:attr="ng-init='targetMachineID='+${machineID} + ';targetMachineHost='+${machineHost}">
      <div id="terminal" ng-init="runTerminal(targetMachineID, targetMachineHost)"></div>

    </body>
  </html>